<p>
    {{greeting}}, <b>{{user.name}}</b>
</p>
<p>
    Sua senha foi alterada para: <b>{{newPassword}}</b>
</p>
<p>
    Lembre-se de trocá-la em seu próximo acesso.
</p>
<p>
    Atenciosamente,
</p>
<p>
    <b>Library</b>
    <br/>
    <small>{{baseUrl}}</small>
</p>