<p>
    {{greeting}}, <b>{{user.name}}</b>
</p>
<p>
    {{#translate}}mail.recover-password.body{{/translate}} <b>{{newPassword}}</b>
</p>
<p>
    {{#translate}}mail.recover-password.tip{{/translate}}
</p>
<p>
    {{#translate}}mail.recover-password.footer{{/translate}},
</p>
<p>
    <b>Library</b>
    <br/>
    <small>{{baseUrl}}</small>
</p>